<!--################ BOTTOM SECTION START ################-->

<section id="bottom" class="paddingbot20 paddingtop20">

  <div class="container">
    <div class="row center">
      <div class="as-seen">
        <div class="span2">
          <img src="images/client-1.png" alt="Tc">
        </div>
        <div class="span2">
          <img src="images/client-2.png" alt="Tc">
        </div>
        <div class="span2">
          <img src="images/client-3.png" alt="Tc">
        </div>
        <div class="span2">
          <img src="images/client-4.png" alt="Tc">
        </div>
        <div class="span2">
          <img src="images/client-5.png" alt="Tc">
        </div>
        <div class="span2">
          <img src="images/client-6.png" alt="Tc">
        </div>

      </div>


    </div>
  </div>

</section>

<!--################ BOTTOM SECTION END ################-->
