<!--################ HEADER START ################-->

<header data-stellar-background-ratio="0">
  <div class="container home">


    <div class="flexslider home">
      <ul class="slides">
        <li>
          <div class="span7 animated fadeInLeftBig">
            <img src="images/responsive.png">
          </div>
          <div class="span4 margintop10p animated fadeInDownBig">

            <h1><i class="icon-tablet"></i><i class="icon-mobile-phone"></i><i class="icon-desktop"></i><br />full responsive</h1>
          </div>

        </li>
        <li class="margin5">
          <div class="span6 animated fadeInLeftBig" id="main-media">
            <iframe src="http://player.vimeo.com/video/56072786" width="580" height="240" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
          <div class="span5">
            <h1>a complete parallex template for your needs</h1>

          </div>

        </li>
        <li class="margintop10p"><h1><i class="icon-eye-open icon-2x"></i><br />oh! did i mentioned, its retina ready...</h1></li>


      </ul>

    </div>



  </div>


</header>

<!--################ HEADER END ################-->
