<!--################ JAVASCRIPTS ################-->

<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/twitter.js"></script>
<script src="js/stellar.js"></script>
<script src="js/nicescroll.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="js/jquery.fancybox-thumbs.js?v=1.0.2"></script>
<script type="text/javascript" src="js/jquery.fancybox-media.js?v=1.0.0"></script>
<script src="js/custom.js"></script>
<script src="js/portfolio.js"></script>
<script src="js/jquery.flexslider.js"></script>
