<!--################ NAVIGATION START ################-->

<div class="navbar-wrapper" >
  <div class="navbar navbar-fixed-top" id="navigation">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">  <img src="images/logo.png" width="150" id="logokhan"></a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
              <ul class="dropdown-menu">

                <li><a href="index-1.html">Home Default</a></li>
                <li><a href="index-2.html">Home Services</a></li>
                <li><a href="index-3.html">Home Showcase</a></li>

              </ul>
            </li>
            <li><a href="features.html">Features</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="services.html">Services</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="gallery.html">Gallery</a></li>

              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Blog Page</a></li>
                <li><a href="single-blog.html">Single Post</a></li>

              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="portfolio.html">Portfolio Page</a></li>
                <li><a href="single-portfolio.html">Single Project</a></li>

              </ul>
            </li>
            <li><a href="contact.html">Contact Us</a></li>

            <li class="">
              <a data-toggle="modal" href="#myModal" class="">Sign Up</a>
            </li>

            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
              <div class="dropdown-menu" style="padding: 15px;">
                <form action="#" method="post" accept-charset="UTF-8" class="form-menu">
                  <input id="user_username"  type="text" name="user[username]" size="33" placeholder="Username" />
                  <input id="user_password"  type="password" name="user[password]" size="33" placeholder="Password" />
                  <label class="checkbox muted hidden-tablet"><input type="checkbox"> Remember Me</label>
                  <input class="btn span3"  type="submit" name="commit" value="Sign In" />
                </form>

              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--################ NAVIGATION END ################-->
