<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
      {% include navigation.html %}

      <div id="wrap">
        {% include header.html %}
        {{ content }}
        {% include bottom_section.html %}
      </div>
      {% include footer.html %}
      {% include javascript.html %}
    </body>
</html>
