---
layout: default
---
<section>
  <div class="container">
    <div class="row">
      <div class="span12 center">
        <h1 class="big-heading">{{ page.title }}</h1>
        <h4 class="sub-heading">see some of our recent projects...</h4>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        {{ content }}
      </div>
    </div>
  </div>
</section>
